body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e5f4e3; 
}

.topnav {
    background-color: #e5f4e3; 
    display: flex;
    justify-content: center; 
}

.topnav a {
    color: #2f4f4f;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 14px;
}

.topnav a:hover {
    text-decoration: underline;
    background-color: transparent; 
    color: #2f4f4f;
}

.topnav a.active {
    text-decoration: underline;
    background-color: transparent; 
    color: #2f4f4f;
}

.intro {
  max-width: 700px;
  margin: 80px auto 0 auto;
  padding: 0 20px;
  text-align: left;
  transform: translateX(-10%);
}

.intro h1 {
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #2f4f4f;
}

.intro-text {
    font-size: 18px;
    margin: 0 auto;
    line-height: 1.5;
    color: #2f4f4f;
}
.email-text {
    font-size: 12px;
    margin: 20px auto 0;
    line-height: 1.5;
    color: #2f4f4f;
}

.about {
  margin: 100px auto;
  max-width: 900px;
  padding: 0 20px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}

.column h2 {
  font-size: 24px;
  color: #2f4f4f;
  margin: 0;
  min-width: 120px;
  text-align: left;
}

.column p {
  font-size: 16px;
  line-height: 1.6;
  color: #2f4f4f;
  margin: 0;
  max-width: 600px;
  text-align: left;
}
.skills {
  margin: 100px auto;
  max-width: 700px;
  padding: 0 20px;
}

.skills h2 {
  font-size: 24px;
  color: #2f4f4f;
  margin: 0;
  min-width: 120px;
  text-align: left;
}


.icons img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  object-fit: contain;
}




